@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");

body::before {
  display: block;
  content: "";
  height: 50px;
}

body {
  font-family: "Work Sans", sans-serif;
}

.navbar {
  font-size: 14px;
}

.songs-list li {
  border-bottom: 1px solid rgb(228, 225, 225);
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.tab-content {
  display: none;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
