@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");

body::before {
  display: block;
  content: "";
  height: 50px;
}

body {
  font-family: "Work Sans", sans-serif;
}

.navbar {
  font-size: 14px;
}

/* styling the audio */
audio::-webkit-media-controls-panel {
  background-color: #56aeff;
}

audio::-webkit-media-controls-play-button {
  background-color: #b1d4e0;
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: rgba(177, 212, 224, 0.7);
}

audio::-webkit-media-controls-current-time-display {
  color: #fff;
}