@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");

body::before {
  display: block;
  content: "";
  height: 50px;
}

body {
  font-family: "Work Sans", sans-serif;
}

.navbar {
  font-size: 14px;
}

/* styling the audio */
audio {
  height: 40px;
}

audio::-webkit-media-controls-panel {
  background-color: #ffc115;
}

audio::-webkit-media-controls-current-time-display {
  color: #fff;
}

audio::-webkit-media-controls-timeline {
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Heading Tag */
h2 {
  font-weight: bold;
}

/* Explore Interest Section */

.tab-content {
  display: none;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
